Flask==3.1.0
Flask-CORS==5.0.0
pydantic==2.10.0
SQLAlchemy==2.0.36
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
pulsar-client==3.8.0
fastavro==1.10.0
PyDispatcher==2.0.7
pickle-mixin==1.0.2
python-dotenv==1.0.1
pytest==7.4.3
pytest-cov==4.1.0
pytest-mock==3.12.0
faker==19.12.0
pyyaml==6.0.1
redis==4.6.0